.hw6 {
    text-align: center;
}

.spanClassName {
    font-size:  30px;
}
.superEditableSpan {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    height: 50px;
    margin-bottom: 10px;
}


.group {
    display: grid;
    justify-content: center;
}

.btn {
    margin-top: 0;
}