.blue {
    background-color: #e1e5fd;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testSpanError {
    font-size: 12px;
}

.widthBtn {
    width: 300px;
}
